
.pagetitle {
    width: 40%;
    margin: 10px auto;
    border: solid black 5px;
    padding: 15px;
    background-color: #598968;
    color: #383734;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
}
.recipe-link {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(49, 3, 3);
    background-color: #598968;
    display: inline-block
    }
.recipe-link-container {
   
    border: black solid 2px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(49, 3, 3);
    margin: 10px auto;
    width: 40%;
    background-color: #598968;
}
h2, p, li, #homebutton {
    color: rgb(49, 3, 3);
    font-family:'Gill Sans', sans-serif;
    background-color: #598968;
    width: 75%;
    margin: 0px auto;
    padding: 10px;

}
#homebutton {
    display: flex;
    justify-content: center;
}
.link {color: red;}
.imgcenter {text-align: center;
    margin: 20px 0px;}
img {
    border: solid black 3px;
    padding: 10px;
}